<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="copy">
        <!-- #region Czompi Group products -->
        <nav class="nav nav-sticky group" aria-label="Czompi Group">
            <div class="container w-100" th:each="group: ${site.products}">
                <div th:if="${group.id} == ${site.id}" th:class="'nav-item group-' + ${group.id}">
                    <span class="active" th:text="${group.name}"/>
                </div>
                <div th:unless="${group.id} == ${site.id}" th:class="'nav-item group-' + ${group.id}">
                    <a th:href="${group.url}" th:text="${group.name}"/>
                </div>
            </div>
        </nav>
        <!-- #endregion -->
        <!-- #region Navigation menu -->
        <div class="container">
            <nav class="nav menu" aria-label="Main">
                <a th:href="${site.baseUrl}" class="brand">
                    <img th:src="${site.cdnUrl} + 'img/' + ${site.id} + '/v1.0/' + ${site.id} + '-logo.svg'">
                </a>
                <a class="nav-mobile" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation"></a>
                <div class="nav-items dropdown-menu navbar-collapse collapse" aria-labelledby="navbar-main" id="navbar-main" th:each="page : ${site.pages}">

<!--                    @foreach (Metadata page in Globals.Pages.Select(itm =>-->
<!--                    {-->
<!--                    if (itm.NavMenuId == -1) itm.NavMenuId = short.Parse($"{Math.Min(Globals.Pages.Max(x => x.NavMenuId) + Globals.Pages.Count, (int)short.MaxValue)}");-->
<!--                    return itm;-->
<!--                    }).Where(x => x.IsNavMenuItem == true).OrderBy(x => x.NavMenuId).ThenBy(y => y.Id))-->
<!--                    {-->
                    <div th:if="${true}" class="nav-item">
                        <a th:href="${site.baseUrl} + '/' + ${page.id}" class="active">
                            [(${page.title})]
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- #endregion -->
    </header>
</body>
</html>